---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";



// Our variables

$base-font-family: Helvetica, Arial, sans-serif;
$base-font-size:   16px;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;

$orange-color-medium: 	lighten(#F87217, 4%);
$orange-color-light: 	lighten($orange-color-medium, 8%);
$orange-color-dark: 	darken($orange-color-medium, 20%);

$text-grey-white: 		#fdfdfd;
$text-grey-medium:		#828282;
$text-grey-light:		lighten($text-grey-medium, 20%);
$text-grey-dark:		darken($text-grey-medium, 35%);

$background-color-dark:		darken($text-grey-medium, 35%);
$background-color-light:	darken($text-grey-medium, 30%);

//********************************************************






$on-palm:          600px;
$on-laptop:        800px;



// Using media queries with like this:
// @include media-query($palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}



// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "base",
        "layout",
        "syntax-highlighting"
;
