---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";



// Our variables


// spacing

$spacing-unit:     44px;



// color
$orange-color: 			lighten(#F87217, 4%);
$orange-color-medium: 	#F87217;
$orange-color-light: 	lighten($orange-color, 8%);
$orange-color-dark: 	darken($orange-color, 20%);

$text-grey-white: 		#fdfdfd;
$text-grey-dark-white:	darken($text-grey-white, 15%);
$text-grey-medium:		#828282;
$text-grey-light:		lighten($text-grey-medium, 20%);
$text-grey-dark:		darken($text-grey-medium, 35%);

$background-color-dark:		darken($text-grey-medium, 35%);
$background-color-light:	darken($text-grey-medium, 30%);

$code-default-font-color: $text-grey-dark;



// base

$base-font-family: Helvetica, Arial, sans-serif;
$base-font-size:   19px;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.9;



// site-header

$site-header-padding-top: 60px;
$site-header-padding-bottom: 40px;



// site-title

$site-title-font-family: 'Vollkorn', serif;
$site-title-font-size: 44px;
$site-title-line-height: 56px;
$site-title-letter-spacing: -1px;
$site-title-margin-bottom: 0;
$site-title-float: left;
$site-title-font-variant: small-caps;
$site-title-color: $text-grey-white;
$site-title-hover-color: $text-grey-light;



// site-footer

$site-footer-padding-top: 50px;
$site-footer-padding-bottom: 70px;
$site-footer-font-size: 16px;
$site-footer-margin-bottom: 22px;
$site-footer-font-color: $text-grey-white;
$site-footer-font-color-hover: $text-grey-light;



// site-nav

$site-nav-font-family: 'Lato', sans-serif;
$site-nav-line-height: 56px;
$site-nav-font-size: 20px;
$site-nav-font-color: $orange-color-light;
$site-nav-word-gap: 45px;
$site-nav-font-hover-color: $orange-color-medium;



// post-title

$post-title-font-family: 'Playfair Display', sans-serif;
$post-title-home-font-size: 19px;
$post-title-font-size: 34px;
$post-title-letter-spacing: -1px;
$post-title-line-height: 1;
$post-title-font-color: $text-grey-dark-white;



// page

$page-content-padding-top: 95px;
$page-content-padding-bottom: 87px;



// post-list

$post-list-margin-left: 3cm;
$post-list-margin-bottom: 22px;



// post-meta

$post-meta-font-size: 17px;
$post-meta-font-color: $text-grey-light;
$post-meta-padding-right: 35px;
$post-meta-font-family: 'Lato', sans-serif;



// post-link

$post-link-font-size: 29px;
$post-link-font-family: 'Gentium Book Basic', serif;
$post-link-font-style: italic;



// rss

$rss-padding-top: 62px;
$rss-font-family: 'PT Sans', sans-serif;



// post-header

$post-header-margin-bottom: 44px;
$post-header-padding-left: 5px;



// post-content

$post-content-margin-bottom: 44px;
$post-content-font-family: 'Gentium Book Basic', serif;
$post-line-height: 1.5;



$on-palm:          600px;
$on-laptop:        800px;



// Using media queries with like this:
// @include media-query($palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}



// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "base",
        "layout",
        "syntax-highlighting"
;


// Fonts from Icomoon

@font-face {
	font-family: 'icomoon';
	src:url('../fonts/icomoon.eot?-k4fwhg');
	src:url('../fonts/icomoon.eot?#iefix-k4fwhg') format('embedded-opentype'),
		url('../fonts/icomoon.woff?-k4fwhg') format('woff'),
		url('../fonts/icomoon.ttf?-k4fwhg') format('truetype'),
		url('../fonts/icomoon.svg?-k4fwhg#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-email103:before {
	content: "\e600";
}
.icon-twitter:before {
	content: "\e601";
}
.icon-twitter2:before {
	content: "\e602";
}
.icon-github:before {
	content: "\e603";
}
.icon-github2:before {
	content: "\e604";
}
.icon-linkedin:before {
	content: "\e605";
}
.icon-linkedin2:before {
	content: "\e606";
}
.icon-linkedin3:before {
	content: "\e607";
}