<footer class="site-footer">
  
  <a href="{{ site.baseurl }}/" title="Home">
  <span class="icon-home78"></span>
  </a>
  <a href="mailto:{{ site.email }}" title="Email Me">
  <span class="icon-gmail3"></span>
  </a>
  <a href="https://www.linkedin.com/pub/amaresh-sahu/96/5ab/73" title="Linkedin">
  <span class="icon-linkedin9"></span>
  </a>
  <a href="https://github.com/{{ site.github_username }}" title="GitHub">
  <span class="icon-github17"></span>
  </a>
  <div class="flaticon">Icons made by Zurb, Heydon, Freepik, and Google from <a href="http://www.flaticon.com" title="Flaticon">www.flaticon.com</a> are licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0">CC BY 3.0</a></div>
</footer>
