<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width initial-scale=1" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>{{ site.title }}{% if page.title %} | {{ page.title }}{% endif %}</title>
    <meta name="description" content="{{ site.description }}">

    <link href='https://fonts.googleapis.com/css?family=Lato:300,400,700' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Vollkorn:400,400italics' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
    <link rel="shortcut icon" href="/favicon.ico?" /> 
	<!-- from http://stackoverflow.com/questions/21580476/setting-css-styles-color-for-mathjax -->
	<script type="text/x-mathjax-config">
	MathJax.Hub.Config({
		jax: ["input/TeX", "output/HTML-CSS"],
		tex2jax: {
			inlineMath: [ ['$', '$'] ],
			displayMath: [ ['$$', '$$']],
			processEscapes: true,
			skipTags: ['script', 'noscript', 'style', 'textarea', 'pre', 'code']
		},
		messageStyle: "none",
		"HTML-CSS": { 
			// Attributes from https://docs.mathjax.org/en/v2.5-latest/options/HTML-CSS.html 
			preferredFont: "TeX", 
			availableFonts: ["STIX","TeX"], 
			scale: 90,
			styles: {
				// css 
				".MathJax": 
				{color: "#000000"}
			} 
		}
	});
	</script>

	<script type="text/javascript"
 		 src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
	</script>
</head>
