/**
 * Site header
 */
.site-header {
    border-top: 4px solid $orange-color-light;
    padding-top: $site-header-padding-top;
    padding-bottom: $site-header-padding-bottom;

    // Positioning context for the mobile navigation icon
    position: relative;
}

.site-title {
    font-style: italic;
    font-family: $site-title-font-family;
    font-size: $site-title-font-size;
    line-height: $site-title-line-height;
    letter-spacing: $site-title-letter-spacing;
    margin-bottom: $site-title-margin-bottom;
    float: $site-title-float;
    //font-variant: $site-title-font-variant;
    color: $site-title-color;

    &:hover {
        color: $site-title-hover-color;
    }
}

.site-nav {
    float: right;
    line-height: $site-nav-line-height;

    .menu-icon {
        display: none;
    }

    .page-link {
        font-family: $site-nav-font-family;
        font-size: $site-nav-font-size;
        color: $site-nav-font-color;
        text-transform: uppercase;

        // Gaps between nav items, but not on the first one
        &:not(:first-child) {
            margin-left: $site-nav-word-gap;
        }

        &:hover {
            color: $site-nav-font-hover-color;
        }
    }

    @include media-query($on-palm) {
        position: absolute;
        top: 9px;
        right: 30px;
        background-color: $background-color-dark;
        border: 1px solid $text-grey-light;
        border-radius: 5px;
        text-align: right;

        .menu-icon {
            display: block;
            float: right;
            width: 36px;
            height: 26px;
            line-height: 0;
            padding-top: 10px;
            text-align: center;

            > svg {
                width: 18px;
                height: 15px;

                path {
                    fill: $background-color-dark;
                }
            }
        }

        .trigger {
            clear: both;
            display: none;
        }

        &:hover .trigger {
            display: block;
            padding-bottom: 5px;
        }

        .page-link {
            display: block;
            padding: 5px 10px;
        }
    }
}



/**
 * Site footer
 */
.site-footer {
    padding-top: $site-footer-padding-top;
    padding-bottom: $site-footer-padding-bottom;
}

.footer-heading {
    margin-bottom: $site-footer-margin-bottom;
}

.contact-list,
.social-media-list {
    list-style: none;
    margin-left: 0;
}

.footer-col-wrapper {
    font-size: $site-footer-font-size;
    margin-left: -$spacing-unit / 2;
    @extend %clearfix;
    a {
        color: $site-footer-font-color;
        &:hover {
            color: $site-footer-font-color-hover;
        }
    }
}

.footer-col {
    float: left;
    margin-bottom: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
}

.footer-col-1 {
    width: -webkit-calc(40% - (#{$spacing-unit} / 2));
    width:         calc(40% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
    width: -webkit-calc(30% - (#{$spacing-unit} / 2));
    width:         calc(30% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
    width: -webkit-calc(30% - (#{$spacing-unit} / 2));
    width:         calc(30% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
    .footer-col-1,
    .footer-col-2 {
        width: -webkit-calc(50% - (#{$spacing-unit} / 2));
        width:         calc(50% - (#{$spacing-unit} / 2));
    }

    .footer-col-3 {
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}

@include media-query($on-palm) {
    .footer-col {
        float: none;
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}



/**
 * Page content
 */
.page-content {
    padding-top: $page-content-padding-top;
    padding-bottom: $page-content-padding-bottom;
    background-color: $background-color-light;
}

/*
.page-heading {
    font-size: 20px;
}*/

.post-list {
    margin-left: $post-list-margin-left;
    list-style: none;
    
    > li {
        margin-bottom: $post-list-margin-bottom;
    }
}

.post-meta {
    font-family: $post-meta-font-family;
    vertical-align: middle;
    font-size: $post-meta-font-size;
    color: $post-meta-font-color;
    text-transform: uppercase;
    padding-right: $post-meta-padding-right;
}

.post-link {
    font-family: $post-link-font-family;
    vertical-align: middle;
    font-size: $post-link-font-size;
    font-style: $post-link-font-style;
}

.rss-subscribe {
    padding-top: $rss-padding-top;
    font-family: $rss-font-family;
}



/**
 * Posts
 */
.post-header {
    margin-bottom: $post-header-margin-bottom;
    padding-left: $post-header-padding-left;
}

.post-title {
    font-family: $post-title-font-family;
    font-size: $post-title-font-size;
    letter-spacing: $post-title-letter-spacing;
    line-height: $post-title-line-height;
    color: $post-title-font-color;

    @include media-query($on-laptop) {
        font-size: $post-title-font-size;
    }
}

.post-content {
    margin-bottom: $spacing-unit;
    font-family: $post-content-font-family;
    text-align: justify;
    line-height: $post-line-height;


    h2 {
        font-size: 32px;

        @include media-query($on-laptop) {
            font-size: 28px;
        }
    }

    h3 {
        font-size: 26px;

        @include media-query($on-laptop) {
            font-size: 22px;
        }
    }

    h4 {
        font-size: 20px;

        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }
}
