/**
 * Site header
 */
.site-header {
    border-top: 1px solid $grey-color;
    background-color: $background-color-medium-light;
    border-bottom: 1px solid $grey-color-light;    
    min-height: 46px;

    // Positioning context for the mobile navigation icon
    position: relative;
}

.site-title {
    font-size: 24px;
    font-weight: 400;
    font-family: 'vollkorn', serif;
    font-style: italic;
    line-height: 46px;
    letter-spacing: 0px;
    margin-bottom: 0;
    float: left;

    &,
    &:visited {
        color: $grey-color-dark;
    }
}

.site-nav {
    float: right;
    line-height: 46px;

    .menu-icon {
        display: none;
    }

    .page-link {
        font-size: 15px;
        font-weight: 400;
        text-transform: uppercase;
        color: $text-color;
        line-height: $base-line-height;

		&:hover {
			border-bottom: 2px solid $text-color;
		}

        // Gaps between nav items, but not on the first one
        &:not(:first-child) {
            margin-left: 36px;
        }
    }

    @include media-query($on-palm) {
        position: absolute;
        top: 9px;
        right: 30px;
        background-color: $background-color-light;
        border: 1px solid $grey-color-light;
        border-radius: 5px;
        text-align: center;

        .menu-icon {
            display: block;
            float: right;
            width: 36px;
            height: 26px;
            line-height: 0;
            padding-top: 10px;
            text-align: center;

            > svg {
                width: 18px;
                height: 15px;

                path {
                    fill: $grey-color-dark;
                }
            }
        }

        .trigger {
            clear: both;
            display: none;
        }

        &:hover .trigger {
            display: block;
            padding-bottom: 5px;
        }

        .page-link {
            display: block;
            padding: 5px 10px;
        }
    }
}



/**
 * Site footer
 */
.site-footer {
    border-top: 1px solid $grey-color-light;
    padding: $spacing-unit 0;
    padding-bottom: $spacing-unit * 2;
    color: $background-color-medium;
    background-color: #262626;
}

.footer-heading {
    font-size: 17px;
    text-align: center;
    margin-top: $spacing-unit;
    margin-bottom: $spacing-unit * 0.75;
    margin-left: 0.2 * $spacing-unit;
    margin-right: 0.2 * $spacing-unit; 

	@include media-query($on-laptop) {
		margin-left: 0.2 * $spacing-unit;
		margin-right: 0.2 * $spacing-unit;
	}

	a {
		font-weight: 400;
		color: $background-color-medium;
	}
}

.footer-copyright {
    text-align: center;
}

.contact-list,
.social-media-list {
    list-style: none;
    margin-left: 0;
}

.footer-table-wrapper {
    font-size: 15px;
    margin-left: 4 * $spacing-unit;
    margin-right: 4 * $spacing-unit; 
    margin-top: 0.5 * $spacing-unit;
    @extend %clearfix;
}

.footer-table {
    margin-top: $spacing-unit * 0.4;
    width: $spacing-unit * 5;
    text-align: center;
    margin: $spacing-unit  auto;
}

.footer-icon {
    > svg {
        width: 34px;
        height: 34px;
        vertical-align: middle;

        path {
            fill: $background-color-medium;
        }
    }
}



/**
 * Page content
 */
.page-content {
    padding: $spacing-unit 0;
    font-weight: 300;
}

.page-heading {
    font-size: 20px;
}

.post-list {
    margin-left: 0;
    list-style: none;

    > li {
        margin-bottom: $spacing-unit;
    }
}

.post-meta {
    font-size: 18px;
    color: $grey-color-dark;
}

.post-link {
    display: block;
    font-size: 21px;
}



/**
 * Posts
 */
.post-header {
    margin-bottom: 2.5 * $spacing-unit;
    margin-top: 2.5 * $spacing-unit;

	@include media-query($on-palm) {
		margin-bottom: $spacing-unit;
		margin-top: $spacing-unit;
	}
}

.post-title {
    font-family: 'vollkorn', serif;
    font-weight: 400;
    font-size: 42px;
    letter-spacing: 0px;
    line-height: 1;
    text-align: center;

    @include media-query($on-laptop) {
        font-size: 36px;
    }

	@include media-query($on-palm) {
		font-size: 32px;
	}
}

.post-content {
    margin-bottom: 2.5 * $spacing-unit;
    text-align: justify;

	@include media-query($on-palm) {
		margin-bottom: 1.2 * $spacing-unit;
	}

    h2 {
        font-size: 32px;

        @include media-query($on-laptop) {
            font-size: 28px;
        }
    }

    h3 {
        font-size: 26px;

        @include media-query($on-laptop) {
            font-size: 22px;
        }
    }

    h4 {
        font-size: 20px;

        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }

    p {
        line-height: 1.8;
    }
}

/**
 * Home Page
 */
.home-page {

	background-color: $background-color;

    .intro {

        h1 {    
            font-size: 24px;
            margin-bottom: 38px;
        }

		img {
			margin-bottom: 1.5 * $spacing-unit;
			width: 200px;
		}

        text-align: center;
        padding-top: 3.25 * $spacing-unit;
        padding-bottom: 3.75 * $spacing-unit;
        background-color: $background-color-medium;

		@include media-query($on-palm) {
			padding-top: 2 * $spacing-unit;
			padding-bottom: 2.5 * $spacing-unit;
		}

        .primary-button {
            margin-left: 12px;
            margin-right: 16px;
            padding: 9px 25px;
            border-radius: 25px;
			border: 1px solid $grey-color;
            font-size: 17px;
            font-weight: 700;
            text-transform: uppercase;
            color: white;
            text-decoration: none;
            background: $grey-color;

			&:hover{
				background: $grey-color-slightly-dark;
			}
        }

        .secondary-button {
            margin-left: 16px;
            margin-right: 12px;
            padding: 9px 25px;
            border-radius: 25px;
            border: 1px solid $grey-color;
            font-size: 17px;
            font-weight: 700;
            text-transform: uppercase;
            color: $grey-color;
            text-decoration: none;
            background: $background-color-medium-light;

			&:hover{
				background: #fff;
			}
        }
    }

    .recent-activity {

        h1 {
            font-size: 24px;
            font-weight: 400;
            color: $grey-color-dark;
            margin-bottom: 2 * $spacing-unit;
            text-align: center;
        }

        ol {
            list-style-position: outside;
            margin-left: 0px;
            margin-right: 0px;
            
            li {
                color: $grey-color-dark;
                margin-bottom: $spacing-unit * 0.7;
                line-height: 2;
            }
        }

        margin-left: 1.5 * $spacing-unit;
        margin-right: 1 * $spacing-unit;
        margin-top: 1.5 * $spacing-unit;
        margin-bottom: 2 * $spacing-unit;

		@include media-query($on-palm) {
			margin-left: 0.5 * $spacing-unit;
			margin-right: 0.5 * $spacing-unit;
			margin-top: 0.75 * $spacing-unit;
			margin-bottom: 0.75 * $spacing-unit;
		}

    }

}

.research {
	table, th, td {
		border: 0px solid black;
		@include media-query($on-palm) {
			display: none;
		}

	}

	th {
		text-align: center;
	}

	tr, td {
		padding-left: 1.0 * $spacing-unit;
		padding-right: 1.0 * $spacing-unit;
	}

	margin-top: 2.3 * $spacing-unit;
	margin-bottom: $spacing-unit;
}
